<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE root[<!ELEMENT masterDefault ANY>
<!ATTLIST masterDefault id ID #REQUIRED>
<!ELEMENT homePage ANY>
<!ATTLIST homePage id ID #REQUIRED>
<!ELEMENT standardContentPage ANY>
<!ATTLIST standardContentPage id ID #REQUIRED>
]>
<root id="-1">
  <homePage id="1060" key="ce9a0f3b-9f80-42c2-865c-b66386a62247" parentID="-1" level="1" creatorID="0" sortOrder="0" createDate="2017-06-03T04:22:46" updateDate="2017-06-25T03:35:08" nodeName="Home" urlName="home" path="-1,1060" isDoc="" nodeType="1059" creatorName="Brandon Osborne" writerName="Brandon Osborne" writerID="0" template="1071" nodeTypeAlias="homePage">
    <pageTitle><![CDATA[Home]]></pageTitle>
    <umbracoNaviHide>0</umbracoNaviHide>
    <logo><![CDATA[umb://media/d7f413ffd7574a0fbd85b4b6816f8fa4]]></logo>
    <siteTitle><![CDATA[Bundled Broker]]></siteTitle>
    <bodyContent><![CDATA[<h1>Scrolling Nav</h1>
<p><strong>Usage Instructions:</strong> Make sure to include the scrolling-nav.js, jquery.easing.min.js, and scrolling-nav.css files. To make a link smooth scroll to another section on the page, give the link the .page-scroll class and set the link target to a corresponding ID on the page.</p>
<p><a href="#about" class="btn btn-default page-scroll">Click Me to Scroll Down!</a></p>]]></bodyContent>
    <standardContentPage id="1073" key="6605a939-b9b2-40c7-8949-723a24987ef7" parentID="1060" level="2" creatorID="0" sortOrder="0" createDate="2017-06-06T12:17:13" updateDate="2017-06-25T03:35:09" nodeName="Contact" urlName="contact" path="-1,1060,1073" isDoc="" nodeType="1068" creatorName="Brandon Osborne" writerName="Brandon Osborne" writerID="0" template="1067" nodeTypeAlias="standardContentPage">
      <pageTitle><![CDATA[Contact Us]]></pageTitle>
      <bodyContent><![CDATA[<?UMBRACO_MACRO macroAlias="renderUmbracoForm" FormGuid="b518e8b8-daaa-4cda-b1de-03fc088d64ee" FormTheme="bootstrap3-horizontal" ExcludeScripts="0" />]]></bodyContent>
    </standardContentPage>
    <standardContentPage id="2051" key="c9341839-7c16-4510-918e-1f5faba57d79" parentID="1060" level="2" creatorID="0" sortOrder="1" createDate="2017-06-13T06:49:02" updateDate="2017-06-25T03:35:09" nodeName="Manage Profile" urlName="manage-profile" path="-1,1060,2051" isDoc="" nodeType="1068" creatorName="Brandon Osborne" writerName="Brandon Osborne" writerID="0" template="1067" nodeTypeAlias="standardContentPage">
      <umbracoNaviHide>1</umbracoNaviHide>
      <bodyContent><![CDATA[<?UMBRACO_MACRO macroAlias="InsertSelfManageProfile" />]]></bodyContent>
    </standardContentPage>
    <standardContentPage id="2053" key="ab315db3-0126-4554-8f1d-af72bd759b36" parentID="1060" level="2" creatorID="0" sortOrder="2" createDate="2017-06-14T03:43:19" updateDate="2017-06-25T03:35:09" nodeName="Forgot Password" urlName="forgot-password" path="-1,1060,2053" isDoc="" nodeType="1068" creatorName="Brandon Osborne" writerName="Brandon Osborne" writerID="0" template="1067" nodeTypeAlias="standardContentPage">
      <umbracoNaviHide>1</umbracoNaviHide>
      <bodyContent><![CDATA[<h1>Forgot Password</h1>
<p>Enter the email address associated with your account into the below. After submitting the form, an email will be sent to you with more instructions for resetting your password.</p>
<?UMBRACO_MACRO macroAlias="InsertForgotPassword" />
<p> </p>]]></bodyContent>
    </standardContentPage>
    <standardContentPage id="2062" key="ab5ad257-0aac-4d7e-b0d7-fbca088e09cb" parentID="1060" level="2" creatorID="0" sortOrder="3" createDate="2017-06-25T09:45:32" updateDate="2017-06-25T09:48:29" nodeName="Reset Password" urlName="reset-password" path="-1,1060,2062" isDoc="" nodeType="1068" creatorName="Brandon Osborne" writerName="Brandon Osborne" writerID="0" template="1067" nodeTypeAlias="standardContentPage">
      <umbracoNaviHide>1</umbracoNaviHide>
      <bodyContent><![CDATA[<h1>Reset Password</h1>
<p>Please enter your new password twice into the form below in order to conclude resetting your password.</p>]]></bodyContent>
    </standardContentPage>
  </homePage>
</root>