@inherits Umbraco.Web.Mvc.UmbracoTemplatePage<ContentModels.BrokerApp>
@using ContentModels = Umbraco.Web.PublishedContentModels;
@{
    Layout = "MasterDefault.cshtml";
}
<section class="main-content">
    <div class="container">
        <div class="row">
            <div class="col-md-2">
                @(Html.Kendo().Menu()
                      .Name(@"AppMenu")
                      .Animation(a => a.Enable(true))
                      .Direction(MenuDirection.Right)
                      .Items(items =>
                      {
                          items.Add()
                              .Text(@"Users")
                              .SpriteCssClasses(@"fa fa-user")
                              .HtmlAttributes(new { onclick = "appNavigate('users');" });
                          items.Add()
                              .Text(@"Groups")
                              .SpriteCssClasses(@"fa fa-users")
                              .HtmlAttributes(new { onclick = "appNavigate('groups');" });
                          items.Add()
                              .Text(@"Facilities")
                              .SpriteCssClasses(@"fa fa-building")
                              .HtmlAttributes(new { onclick = "appNavigate('facilities');" });
                          items.Add()
                              .Text(@"Storage")
                              .SpriteCssClasses(@"fa fa-archive");
                          items.Add()
                              .Text(@"Reports")
                              .SpriteCssClasses(@"fa fa-file-text");
                          items.Add()
                              .Text(@"Help")
                              .SpriteCssClasses(@"fa fa-question-circle");
                      })
                      .Orientation(MenuOrientation.Vertical)
                      .SecurityTrimming(true)
                )
            </div>
            <div class="col-md-9">
                <div id="appContainer" class="container-fluid"></div>
            </div>
        </div>
    </div>
</section>

<script>
    function appNavigate(widgetName) {
        switch (widgetName) {
            case "groups":
                $.get('/umbraco/Surface/Group/Index',
                    function (data) {
                        $('#appContainer').html(data);
                    });
                break;
            case "facilities":
                $.get('/umbraco/Surface/Facility/Index',
                    function (data) {
                        $('#appContainer').html(data);
                    });
                break;
            case "users":
                $.get('/umbraco/Surface/User/Index',
                    function (data) {
                        $('#appContainer').html(data);
                    });
                break;
            default:
                throw "Unexpected appNavigate request received.";
        }
    }

    //TODO: REFACTOR Facility_OnEdit and StateId_OnChange to be a single function.
    function Facility_OnEdit(e) {
        if (!e.model.isNew()) {
            var stateId = new Number($('#StateId').val());
            var countyId = new Number($('#CountyId').val());

            if (countyId && stateId > 0) {
                var countyDropDownList = $('#CountyId').data('kendoDropDownList');
                var url = '/umbraco/Surface/County/GetByStateId?Id=' + stateId;

                $.ajax({
                    url: url
                })
                    .done(function (response) {
                        countyDropDownList.dataSource.data(response);
                    });
            }
        }
    }

    function StateId_OnChange(e) {
        var stateId = $('#StateId').val();
        var countyDropDownList = $('#CountyId').data('kendoDropDownList');
        var url = '/umbraco/Surface/County/GetByStateId?Id=' + stateId;

        $.ajax({
            url: url
        })
            .done(function (response) {
                countyDropDownList.dataSource.data(response);
            });
    }
</script>
