<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE root [<!ELEMENT masterDefault ANY>
<!ATTLIST masterDefault id ID #REQUIRED>
<!ELEMENT homePage ANY>
<!ATTLIST homePage id ID #REQUIRED>
<!ELEMENT standardContentPage ANY>
<!ATTLIST standardContentPage id ID #REQUIRED>
<!ELEMENT brokerApp ANY>
<!ATTLIST brokerApp id ID #REQUIRED>
]>
<root id="-1">
  <homePage id="1060" key="ce9a0f3b-9f80-42c2-865c-b66386a62247" parentID="-1" level="1" creatorID="0" sortOrder="0" createDate="2017-06-03T04:22:46" updateDate="2017-06-26T06:16:16" nodeName="Home" urlName="home" path="-1,1060" isDoc="" nodeType="1059" creatorName="Brandon Osborne" writerName="Brandon Osborne" writerID="0" template="1071" nodeTypeAlias="homePage">
    <pageTitle><![CDATA[Home]]></pageTitle>
    <umbracoNaviHide>0</umbracoNaviHide>
    <logo><![CDATA[umb://media/d7f413ffd7574a0fbd85b4b6816f8fa4]]></logo>
    <siteTitle><![CDATA[Bundled Broker]]></siteTitle>
    <footerLogo><![CDATA[umb://media/83feecf3ea87450faef9b5a370f7739a]]></footerLogo>
    <bodyContent><![CDATA[<h1>Lorem Ipsum</h1>
<p> </p>
<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam in faucibus ex, id imperdiet lacus. Vestibulum et varius sem. Morbi consectetur hendrerit est, tincidunt commodo mi. Donec lacus nisl, ultricies eget turpis commodo, mattis mattis arcu. Aliquam nibh massa, tempor in tempor eu, maximus a nulla. Suspendisse sodales tristique justo, vitae scelerisque nisi aliquam quis. Morbi maximus neque in justo mollis pretium. Mauris molestie, tellus ac rhoncus porttitor, tellus leo dignissim justo, eu euismod diam mauris eget orci. Suspendisse tincidunt nunc justo, eu sollicitudin quam semper vitae. Proin euismod odio eleifend ultricies tempor. Morbi accumsan enim ut imperdiet tristique. Donec a erat vel diam rutrum aliquam ornare non risus.</p>
<p>Suspendisse facilisis magna at augue rhoncus consequat. Maecenas a mollis enim, id molestie nulla. Suspendisse potenti. Etiam ac risus ipsum. Nullam ornare mattis nunc. Fusce et eleifend leo. Etiam dictum urna nec quam faucibus, eu malesuada dui convallis. Praesent fermentum nibh ex, nec dapibus diam maximus vitae. Donec et nisi et magna maximus viverra. Maecenas nec ex eu massa pellentesque porttitor. Nullam volutpat est eget nisi convallis, et aliquet diam varius. Sed iaculis velit nisl, quis luctus dui porta at.</p>
<p>Curabitur vehicula leo vel eleifend bibendum. Aliquam nulla neque, pharetra eu condimentum quis, euismod quis tortor. Cras et tristique metus, in pharetra arcu. Curabitur aliquam, est eu commodo iaculis, ante lorem venenatis metus, sed egestas massa ipsum rhoncus enim. Nullam nisi sem, auctor quis blandit id, efficitur eget nibh. Donec mattis at justo ut egestas. Integer rhoncus euismod ligula at <a href="#">hendrerit</a>.</p>]]></bodyContent>
    <brokerApp id="4066" key="7c79f6a7-553b-4f77-9fc7-e8214fc3da0b" parentID="1060" level="2" creatorID="0" sortOrder="0" createDate="2017-06-28T06:28:12" updateDate="2017-06-28T06:30:35" nodeName="Bundled Broker" urlName="bundled-broker" path="-1,1060,4066" isDoc="" nodeType="4065" creatorName="Brandon Osborne" writerName="Brandon Osborne" writerID="0" template="4064" nodeTypeAlias="brokerApp">
      <umbracoNaviHide>1</umbracoNaviHide>
    </brokerApp>
    <standardContentPage id="1073" key="6605a939-b9b2-40c7-8949-723a24987ef7" parentID="1060" level="2" creatorID="0" sortOrder="1" createDate="2017-06-06T12:17:13" updateDate="2017-06-28T06:30:35" nodeName="Contact" urlName="contact" path="-1,1060,1073" isDoc="" nodeType="1068" creatorName="Brandon Osborne" writerName="Brandon Osborne" writerID="0" template="1067" nodeTypeAlias="standardContentPage">
      <pageTitle><![CDATA[Contact Us]]></pageTitle>
      <umbracoNaviHide>0</umbracoNaviHide>
      <bodyContent><![CDATA[<?UMBRACO_MACRO macroAlias="renderUmbracoForm" FormGuid="b518e8b8-daaa-4cda-b1de-03fc088d64ee" FormTheme="" ExcludeScripts="0" />]]></bodyContent>
    </standardContentPage>
    <standardContentPage id="4063" key="fe8a4551-ebd9-4135-b873-d9e5fd5925bf" parentID="1060" level="2" creatorID="0" sortOrder="2" createDate="2017-06-26T21:21:28" updateDate="2017-06-28T08:18:15" nodeName="Register" urlName="register" path="-1,1060,4063" isDoc="" nodeType="1068" creatorName="Brandon Osborne" writerName="Brandon Osborne" writerID="0" template="1067" nodeTypeAlias="standardContentPage">
      <hideWhenAuthenticated>1</hideWhenAuthenticated>
      <umbracoNaviHide>0</umbracoNaviHide>
      <bodyContent><![CDATA[<h1>Register</h1>
<?UMBRACO_MACRO macroAlias="InsertRegistrationPage" />]]></bodyContent>
    </standardContentPage>
    <standardContentPage id="4062" key="68c233d3-dabd-4d2a-ad44-a0a7b126e097" parentID="1060" level="2" creatorID="0" sortOrder="3" createDate="2017-06-26T18:43:51" updateDate="2017-06-28T06:30:35" nodeName="Sign In" urlName="sign-in" path="-1,1060,4062" isDoc="" nodeType="1068" creatorName="Brandon Osborne" writerName="Brandon Osborne" writerID="0" template="1067" nodeTypeAlias="standardContentPage">
      <umbracoNaviHide>0</umbracoNaviHide>
      <bodyContent><![CDATA[<?UMBRACO_MACRO macroAlias="InsertStandardLoginForm" />]]></bodyContent>
    </standardContentPage>
    <standardContentPage id="2051" key="c9341839-7c16-4510-918e-1f5faba57d79" parentID="1060" level="2" creatorID="0" sortOrder="4" createDate="2017-06-13T06:49:02" updateDate="2017-06-28T06:30:35" nodeName="Manage Profile" urlName="manage-profile" path="-1,1060,2051" isDoc="" nodeType="1068" creatorName="Brandon Osborne" writerName="Brandon Osborne" writerID="0" template="1067" nodeTypeAlias="standardContentPage">
      <umbracoNaviHide>1</umbracoNaviHide>
      <bodyContent><![CDATA[<?UMBRACO_MACRO macroAlias="InsertSelfManageProfile" />]]></bodyContent>
    </standardContentPage>
    <standardContentPage id="2053" key="ab315db3-0126-4554-8f1d-af72bd759b36" parentID="1060" level="2" creatorID="0" sortOrder="5" createDate="2017-06-14T03:43:19" updateDate="2017-06-28T06:30:35" nodeName="Forgot Password" urlName="forgot-password" path="-1,1060,2053" isDoc="" nodeType="1068" creatorName="Brandon Osborne" writerName="Brandon Osborne" writerID="0" template="1067" nodeTypeAlias="standardContentPage">
      <umbracoNaviHide>1</umbracoNaviHide>
      <bodyContent><![CDATA[<h1>Forgot Password</h1>
<p>Enter the email address associated with your account into the below. After submitting the form, an email will be sent to you with more instructions for resetting your password.</p>
<?UMBRACO_MACRO macroAlias="InsertForgotPassword" />
<p> </p>]]></bodyContent>
    </standardContentPage>
    <standardContentPage id="2062" key="ab5ad257-0aac-4d7e-b0d7-fbca088e09cb" parentID="1060" level="2" creatorID="0" sortOrder="6" createDate="2017-06-25T09:45:32" updateDate="2017-06-28T06:30:36" nodeName="Reset Password" urlName="reset-password" path="-1,1060,2062" isDoc="" nodeType="1068" creatorName="Brandon Osborne" writerName="Brandon Osborne" writerID="0" template="1067" nodeTypeAlias="standardContentPage">
      <umbracoNaviHide>1</umbracoNaviHide>
      <bodyContent><![CDATA[<h1>Reset Password</h1>
<p>Please enter your new password twice into the form below in order to conclude resetting your password.</p>
<?UMBRACO_MACRO macroAlias="InsertResetPassword" />]]></bodyContent>
    </standardContentPage>
    <standardContentPage id="5065" key="64a73392-5611-460c-afd6-3b070a528b62" parentID="1060" level="2" creatorID="0" sortOrder="7" createDate="2017-07-12T13:24:00" updateDate="2017-07-12T13:52:28" nodeName="No Access" urlName="no-access" path="-1,1060,5065" isDoc="" nodeType="1068" creatorName="Brandon Osborne" writerName="Brandon Osborne" writerID="0" template="1067" nodeTypeAlias="standardContentPage">
      <hideWhenAuthenticated>0</hideWhenAuthenticated>
      <umbracoNaviHide>1</umbracoNaviHide>
      <bodyContent><![CDATA[<h1>No Access</h1>
<table border="0">
<tbody>
<tr>
<td><img src="/media/1009/no-access-803719_640.png?width=94&amp;height=89" alt="Not Available" data-udi="umb://media/5e0022ad42d54f8a8394558d79dac814" /></td>
<td><span>We're sorry, but you do not have access to this page. Please either <a data-udi="umb://document/68c233d3dabd4d2aad44a0a7b126e097" href="/{localLink:umb://document/68c233d3dabd4d2aad44a0a7b126e097}" title="Sign In">sign in</a> using an account with sufficient privileges, or contact your administrator. Thank you!</span></td>
</tr>
</tbody>
</table>]]></bodyContent>
    </standardContentPage>
    <standardContentPage id="5066" key="556211bf-0af5-4c60-b88c-957dc3f7c860" parentID="1060" level="2" creatorID="0" sortOrder="8" createDate="2017-07-12T13:50:15" updateDate="2017-07-12T15:25:37" nodeName="Signed Out" urlName="signed-out" path="-1,1060,5066" isDoc="" nodeType="1068" creatorName="Brandon Osborne" writerName="Brandon Osborne" writerID="0" template="1067" nodeTypeAlias="standardContentPage">
      <hideWhenAuthenticated>0</hideWhenAuthenticated>
      <umbracoNaviHide>1</umbracoNaviHide>
      <bodyContent><![CDATA[<h1>Signed Out</h1>
<p>Your session has been logged out due to inactivity. Please <a data-udi="umb://document/68c233d3dabd4d2aad44a0a7b126e097" href="/{localLink:umb://document/68c233d3dabd4d2aad44a0a7b126e097}" title="Sign In">sign in</a> again in order to continue using the application.</p>]]></bodyContent>
    </standardContentPage>
  </homePage>
</root>